@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 30.00 100.00% 96.47%;
    --foreground: 33.33 21.95% 8.04%;

    --card: 0.00 0.00% 100.00%;
    --card-foreground: 321.18 51.52% 6.47%;

    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 321.18 51.52% 6.47%;

    --primary: 323.89 100.00% 77.84%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --secondary: 324.71 100.00% 93.33%;
    --secondary-foreground: 325.71 53.85% 2.55%;

    --muted: 324.71 100.00% 96.67%;
    --muted-foreground: 0.00 0.00% 40.00%;

    --accent: 324.71 100.00% 96.67%;
    --accent-foreground: 324.00 100.00% 66.67%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 90.20%;
    --input: 0.00 0.00% 90.20%;
    --ring: 324.00 100.00% 66.67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 325.71 53.85% 2.55%;
    --foreground: 324.00 100.00% 95.10%;

    --primary: 324.00 100.00% 66.67%;
    --primary-foreground: 0.00 0.00% 100.00%;

    --card: 324.44 49.09% 10.78%;
    --card-foreground: 324.00 100.00% 95.10%;

    --popover: 325.71 53.85% 2.55%;
    --popover-foreground: 324.00 100.00% 95.10%;

    --secondary: 324.41 49.58% 23.33%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 320.00 9.68% 12.16%;
    --muted-foreground: 330.00 1.61% 51.37%;

    --accent: 324.41 49.58% 23.33%;
    --accent-foreground: 324.00 100.00% 95.10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0.00 0.00% 14.90%;
    --input: 0.00 0.00% 14.90%;
    --ring: 324.00 100.00% 66.67%;

    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

}

.animate {
  transition: all 0.5s ease-in-out;
}
